* {
    box-sizing: border-box;
    text-align: center;
    font-family: Days-fontfacekit;
}

@font-face {
    font-family: Days-fontfacekit;
    src: url('Days-webfont.eot');
    src: url('Days-webfont.eot') format('eot'), url('Days-webfont.woff') format('woff'), url('Days-webfont.ttf') format('truetype'), url('Days-webfont.svg') format('svg');
}

p {
    font-size: 2em;
}

body {
    background-image: url("Sunset-In-City.jpg");
    background-position: bottom-center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #592b1d;
}

#nav-container {
    /* position: fixed; */
   /*  background-color: rgba(41, 41, 41, .25);
    border-bottom: 2px solid #6D6B6C; */
    vertical-align: top;
}

#title {
    font-family: Days-fontfacekit;
    font: 40px bolder;
    text-align: center;
    color: ghostwhite;
}

#logoImg {
    width: 70px;
    height: 70px;
}

.mainImg {
    /* border: 2px solid lawngreen; */
}

.temperature {
    /* border: 2px solid salmon; */
}

button {
	height:50px;
	font-size: 2em;
	border-radius: 25px;
	padding: 0 40px;
	margin: 20px 40px;
	/* text-align: left; */
	background: rgba(100,100,150, .5);
}

input {
	/* height: 100px; */
	margin-top:5vh;
	padding: 5px;
	width: 98%;
	text-decoration: none;
	font-size:3em;
	background: rgba(0 ,0 ,0, 0);
	border: none;
}

.day {
    /* border: 2px solid cyan; */
    display: inline-block;
    padding: 20px;
}

.hour {
	display: inline-block;
    padding: 20px;
}

#tempContainer {
	/* margin-top:5vh; */
	height:60vh;
	padding: 10vh 0 10vh 0;
	margin: 8vh 0 5vh 0;

}
