* {
    box-sizing: border-box;
    text-align: center;
    font-family: Days-fontfacekit;
}

@font-face {
    font-family: Days-fontfacekit;
    src: url('Days-webfont.eot');
    src: url('Days-webfont.eot') format('eot'), url('Days-webfont.woff') format('woff'), url('Days-webfont.ttf') format('truetype'), url('Days-webfont.svg') format('svg');
}

p {
    font-size: 2em;
}

body {
    background-image: url("Sunset-In-City.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #592b1d;
    font-size: 12px;
    font-weight: bolder;
}


#title {
    font-family: Days-fontfacekit;
    font: 40px bolder;
    text-align: center;
    color: ghostwhite;
}

#logoImg {
    width: 70px;
    height: 70px;
}


button {
    font-size: 2em;
    border-radius: 25px;
    width: 25%;
    margin: 5% 1%;
    background: rgba(100,100,150, .5);
}

canvas {
    vertical-align: top;
}

#locationSearch:focus {
    border: none;
}

.day {
    display: inline-block;
    padding: 20px;
    width: 20%;
}

.hour {
    display: inline-block;
    padding: 20px;
    width: 20%;
}

#tempContainer {
    height: 40vh;
    margin: 20vh 0 15vh 0;
}

@media screen and (max-width: 420px){

    .mainImg #viewbuttons {
        display: block;
        width: 50%; 
        border: 2px solid rebeccapurple;   
    }

}


